Repository changjurhee/AONE, pull requests merged in 2023-07, with the labels that each got.

#90 Media for push 0706
  src/VoIPClient/CallView.cpp
  src/VoIPClient/ClientMediaManager.cpp
  src/VoIPClient/ServerMediaManager.cpp
  src/VoIPClient/ServerMediaManager.h
  src/VoIPClient/VoIPClient.vcxproj
  src/VoIPServer/ServerMediaManager.cpp
  src/VoIPServer/ServerMediaManager.h
  src/VoIPServer/VoIPServer.cpp
  src/VoIPServer/VoIPServer.vcxproj
  src/VoIPServer/VoIPServer.vcxproj.filters
  src/media/AudioMediaPipeline.cpp
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/VideoMediaPipeline.cpp
Labels: media, Interface

#94 remove md5 by build error
  src/VoIPClient/session/AccountManager.cpp
Labels: Session

#95 Revert "remove md5 by build error"
  src/VoIPClient/session/AccountManager.cpp
Labels: Session, media

#96 Media session
  .gitignore
  src/VoIPClient/AccountLoginDlg.cpp
  src/VoIPClient/AccountLoginDlg.h
  src/VoIPClient/ClientMediaManager.cpp
  src/VoIPClient/CommandLineInterface.cpp
  src/VoIPClient/CommandLineInterface.h
  src/VoIPClient/DumpMediaManager.cpp
  src/VoIPClient/DumpMediaManager.h
  src/VoIPClient/IServerMediaManager.h
  src/VoIPClient/ServerMediaManager.cpp
  src/VoIPClient/ServerMediaManager.h
  src/VoIPClient/VoIPClient.cpp
  src/VoIPClient/VoIPClient.vcxproj
  src/VoIPClient/VoIPClient.vcxproj.filters
  src/VoIPClient/session/AccountManager.cpp
  src/VoIPClient/session/AccountManager.h
  src/VoIPClient/session/Call.cpp
  src/VoIPClient/session/Call.h
  src/VoIPClient/session/CallsManager.cpp
  src/VoIPClient/session/SessionManager.cpp
  src/VoIPServer/ServerMediaManager.cpp
  src/VoIPServer/ServerMediaManager.h
  src/VoIPServer/VoIPServer.cpp
  src/VoIPServer/VoIPServer.vcxproj
  src/VoIPServer/VoIPServer.vcxproj.filters
  src/VoIPServer/session/AccountManager.cpp
  src/VoIPServer/session/AccountManager.h
  src/VoIPServer/session/IAccountManager.h
  src/VoIPServer/session/SessionManager.cpp
  src/VoIPServer/session/TelephonyManager.cpp
  src/VoIPServer/session/TelephonyManager.h
  src/json_files/DB_ConferenceList.json
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/VideoMediaPipeline.cpp
  src/media/call_info.h
Labels: Session, media, Interface

#99 Media session for push
  src/VoIPClient/AccountLoginDlg.cpp
  src/VoIPClient/CallView.cpp
  src/VoIPClient/CallView.h
  src/VoIPClient/ClientMediaManager.cpp
  src/VoIPClient/CommandLineInterface.cpp
  src/VoIPClient/CommandLineInterface.h
  src/VoIPClient/Resource.h
  src/VoIPClient/ServerMediaManager.cpp
  src/VoIPClient/VoIPClient.rc
  src/VoIPClient/session/Call.cpp
  src/VoIPClient/session/CallsManager.cpp
  src/VoIPClient/session/CallsManager.h
  src/VoIPClient/session/SessionManager.cpp
  src/VoIPServer/ServerMediaManager.cpp
  src/VoIPServer/VoIPServer.vcxproj
  src/VoIPServer/VoIPServer.vcxproj.filters
  src/VoIPServer/session/SessionControl.h
  src/VoIPServer/session/SessionManager.cpp
  src/VoIPServer/session/SessionManager.h
  src/VoIPServer/session/TelephonyManager.cpp
  src/media/AudioMediaPipeline.cpp
  src/media/MediaManager.cpp
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/VideoMediaPipeline.cpp
  src/media/litevad.cpp
Labels: bug, GStreamer, Session, media

#101 Media session for push
  src/VoIPClient/ClientMediaManager.cpp
  src/VoIPClient/ServerMediaManager.cpp
  src/VoIPServer/ServerMediaManager.cpp
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/VideoMediaPipeline.cpp
Labels: media

#102 Test mvc
  src/VoIPClient/AccountLoginDlg.cpp
  src/VoIPClient/AccountLoginDlg.h
  src/VoIPClient/ClassView.cpp
  src/VoIPClient/ContactRegisterDlg.cpp
  src/VoIPClient/ContactRegisterDlg.h
  src/VoIPClient/ContactView.cpp
  src/VoIPClient/ContactView.h
  src/VoIPClient/FileView.cpp
  src/VoIPClient/FileView.h
  src/VoIPClient/MainFrm.cpp
  src/VoIPClient/MainFrm.h
  src/VoIPClient/ManageUserAccountDlg.cpp
  src/VoIPClient/OutputWnd.cpp
  src/VoIPClient/OutputWnd.h
  src/VoIPClient/ResetPasswordDlg.cpp
  src/VoIPClient/ResetPasswordDlg.h
  src/VoIPClient/Resource.h
  src/VoIPClient/SessionRegisterDlg.cpp
  src/VoIPClient/SessionRegisterDlg.h
  src/VoIPClient/SessionView.cpp
  src/VoIPClient/SessionView.h
  src/VoIPClient/StartDlg.cpp
  src/VoIPClient/StartDlg.h
  src/VoIPClient/VoIPClient.cpp
  src/VoIPClient/VoIPClient.rc
  src/VoIPClient/VoIPClient.vcxproj
  src/VoIPClient/VoIPClient.vcxproj.filters
  src/VoIPClient/VoIPClientDoc.cpp
  src/VoIPClient/VoIPClientDoc.h
  src/VoIPClient/VoIPClientView.cpp
  src/VoIPClient/VoIPClientView.h
  src/VoIPClient/pch.h
  src/VoIPClient/res/MOOZ.bmp
  src/VoIPClient/res/bitmap2.bmp
  src/VoIPClient/res/homer.ico
  src/VoIPClient/res/icon2.ico
  src/VoIPClient/res/log-in-d.bmp
  src/VoIPClient/res/log-in-f.bmp
  src/VoIPClient/res/log-in.bmp
  src/VoIPClient/res/pages.bmp
  src/VoIPClient/res/pages_hc.bmp
  src/VoIPClient/res/pages_small.bmp
  src/VoIPClient/res/pages_small_hc.bmp
  src/VoIPClient/res/password-d.bmp
  src/VoIPClient/res/password-f.bmp
  src/VoIPClient/res/password.bmp
  src/VoIPClient/res/sign-in-d.bmp
  src/VoIPClient/res/sign-in-f.bmp
  src/VoIPClient/res/sign-in.bmp
Labels: MFC, MVC Pattern, UI

#105 UI Controller and connect, login integration
  src/VoIPClient/AccountLoginDlg.cpp
  src/VoIPClient/AccountLoginDlg.h
  src/VoIPClient/CommandLineInterface.cpp
  src/VoIPClient/MainFrm.cpp
  src/VoIPClient/StartDlg.cpp
  src/VoIPClient/StartDlg.h
  src/VoIPClient/VoIPClient.cpp
  src/VoIPClient/VoIPClient.rc
  src/VoIPClient/VoIPClient.vcxproj
  src/VoIPClient/VoIPClient.vcxproj.filters
  src/VoIPClient/pch.h
  src/VoIPClient/session/AccountManager.cpp
  src/VoIPClient/session/AccountManager.h
  src/VoIPClient/session/CallsManager.cpp
  src/VoIPClient/session/CallsManager.h
  src/VoIPClient/session/Data.h
  src/VoIPClient/session/IAccountManager.h
  src/VoIPClient/session/ICallsManager.h
  src/VoIPClient/session/IUiController.h
  src/VoIPClient/session/SessionManager.cpp
  src/VoIPClient/session/SessionManager.h
  src/VoIPClient/session/UiController.cpp
  src/VoIPClient/session/UiController.h
Labels: UI, Interface

#112 1) CTestCallDlg::OnInitDialog() 추가
  src/VoIPClient/TestCallDlg.cpp
  src/VoIPClient/TestCallDlg.h
Labels: UI

#123 1) ResetPasswordDlg Update
  src/VoIPClient/MainFrm.cpp
  src/VoIPClient/MainFrm.h
  src/VoIPClient/ResetPasswordDlg.cpp
  src/VoIPClient/ResetPasswordDlg.h
  src/VoIPClient/Resource.h
  src/VoIPClient/SessionRegisterDlg.cpp
  src/VoIPClient/SessionRegisterDlg.h
  src/VoIPClient/SessionView.cpp
  src/VoIPClient/VoIPClient.rc
Labels: UI

#127 Add vad feature but disabled by default
  src/VoIPClient/ClientMediaManager.cpp
  src/VoIPClient/ClientMediaManager.h
  src/VoIPServer/VoIPServer.vcxproj
  src/VoIPServer/VoIPServer.vcxproj.filters
  src/media/AudioMediaPipeline.cpp
  src/media/AudioMediaPipeline.h
  src/media/MediaManager.cpp
  src/media/MediaManager.h
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/audio_buffer.cpp
  src/media/audio_buffer.h
  src/media/pipeline_monitorable.h
  src/media/vad_processor.cpp
Labels: media, VAD

#129 1) SessionRegisterDlg DateTime Update
  src/VoIPClient/SessionRegisterDlg.cpp
  src/VoIPClient/SessionRegisterDlg.h
  src/VoIPClient/SessionView.cpp
  src/VoIPClient/pch.h
Labels: UI

#130 1) SetDateTime / GetDateTime 추가
  src/VoIPClient/SessionRegisterDlg.cpp
  src/VoIPClient/SessionView.cpp
  src/VoIPClient/pch.h
Labels: UI

#132 1) ContactRegisterDlg List Sorting None 처리
  src/VoIPClient/ContactRegisterDlg.cpp
  src/VoIPClient/VoIPClient.rc
Labels: UI

#134 1) SessionView / ContactView MessageBox 추가
  src/VoIPClient/ContactView.cpp
  src/VoIPClient/SessionView.cpp
  src/VoIPClient/SessionView.h
Labels: UI

#137 1) INCOMING OUTGOING MSGBOX 추가
  src/VoIPClient/ContactView.cpp
  src/VoIPClient/MessageBoxDlg.cpp
  src/VoIPClient/MessageBoxDlg.h
  src/VoIPClient/Resource.h
  src/VoIPClient/SessionView.cpp
  src/VoIPClient/VoIPClient.rc
  src/VoIPClient/VoIPClient.vcxproj.filters
Labels: UI

#139 Media video layout
  src/VoIPClient/ClientMediaManager.cpp
  src/VoIPClient/ServerMediaManager.cpp
  src/VoIPClient/VoIPClient.vcxproj
  src/VoIPClient/VoIPClient.vcxproj.filters
  src/VoIPServer/ServerMediaManager.cpp
  src/VoIPServer/VoIPServer.vcxproj
  src/common/debug.cpp
  src/common/debug.h
  src/common/logger.h
  src/media/AudioMediaPipeline.cpp
  src/media/AudioMediaPipeline.h
  src/media/MediaManager.cpp
  src/media/MediaManager.h
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/VideoMediaPipeline.cpp
  src/media/VideoMediaPipeline.h
  src/media/call_info.h
Labels: media

#163 Move dialing screen to foreground
  src/VoIPClient/MainFrm.cpp
Labels: Session, UI

#172 1) Server : ContactListView 추가
  src/VoIPServer/ContactListView.cpp
  src/VoIPServer/ContactListView.h
  src/VoIPServer/MainFrm.cpp
  src/VoIPServer/Resource.h
  src/VoIPServer/VoIPServer.cpp
  src/VoIPServer/VoIPServer.rc
  src/VoIPServer/VoIPServer.vcxproj
  src/VoIPServer/VoIPServerView.h
Labels: UI

#181 Media full pipeline
  src/VoIPClient/ClientMediaManager.cpp
  src/VoIPClient/ServerMediaManager.cpp
  src/VoIPClient/ServerMediaManager.h
  src/VoIPClient/TestCallDlg.cpp
  src/VoIPServer/ServerMediaManager.cpp
  src/VoIPServer/ServerMediaManager.h
  src/media/AudioMediaPipeline.cpp
  src/media/AudioMediaPipeline.h
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/VideoMediaPipeline.cpp
  src/media/VideoMediaPipeline.h
  src/media/call_info.h
Labels: media

#194 Apply changing port when client removed
  src/media/MediaPipeline.cpp
  src/media/MediaPipeline.h
  src/media/ServerMediaManager.cpp
  src/media/ServerMediaManager.h
Labels: media
